.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/Views/*

!application/*/.htaccess

application/controlllers/blog.php
application/controlllers/latihan_frontend.php
application/controlllers/navbar.php
application/controlllers/not_welcome.php
application/controlllers/tabel_pengguna.php
application/controlllers/Welcome.php
application/Views/*.css



composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
